aiohttp
aiosignal
altair
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-timeout
attrs
Babel
backcall
bcrypt
beautifulsoup4
bleach
blinker
blis
bokeh
breadability
cachetools
catalogue
certifi
cffi
chardet
charset-normalizer
chart-studio
click
colorama
comm
commonmark
comtypes
confection
contourpy
cycler
cymem
debugpy
decorator
defusedxml
distlib
docopt
emoji
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
entrypoints
executing
extra-streamlit-components
fastjsonschema
filelock
Flask
fonttools
fqdn
frozenlist
gensim
gitdb
GitPython
greenlet
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
jmespath
joblib
Js2Py
json5
jsonpointer
jsonschema
jupyter-events
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
kaleido
kiwisolver
langcodes
lxml
MarkupSafe
matplotlib
matplotlib-inline
mistune
MouseInfo
multidict
murmurhash
mysql-connector-python
natsort
nbclassic
nbclient
nbconvert
nbformat
neattext
nest-asyncio
nltk
notebook
notebook_shim
numpy
oauthlib
openai
opencv-python
packaging
pandas
pandocfilters
parso
pathy
patsy
pickleshare
Pillow
pipreqs
pipwin
platformdirs
playsound
plotly
plotly-express
preshed
prometheus-client
prompt-toolkit
protobuf
psutil
pure-eval
pyarrow
PyAutoGUI
pyjsparser
PyJWT
PyMsgBox
pyparsing
pyperclip
PyPrind
PyRect
pyrsistent
PyScreeze
pySmartDL
python-dateutil
python-json-logger
pyttsx3
scikit-learn
scipy
seaborn
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
streamlit
streamlit-authenticator
sumy
typing
typing_extensions
uri-template
urllib3
validators
watchdog
wcwidth
webcolors
webencodings
WebOb
websocket-client
widgetsnbextension
